<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--<script src="/static/jquery/jquery-3.6.4.min.js"></script>-->
    <link rel="stylesheet" href="../static/css/editorialOfficeStyle.css">
    <script src="/static/js/editorialOffice.js"></script>
</head>
<body>
<div id="homePageReturn">
    <li><a href="home.html">Главная</a></li>
</div>

<!------------------------------------------------ADD NEW WORD IN TO DICTIONARY -------------------------------------------->


<form id="addNewWordForm">

    <select id="select1AddNewWord" name="select1AddNewWord">
        <option id="option1InSelect1AddNewWord"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <select id="select2AddNewWord">
        <option id="option2InSelect2AddNewWord"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <input id="inputedNewWordToAdded" type="text" placeholder="Новое слово">
    <input id="inputedTranslationForNewWord" type="text" placeholder="Введите перевод">
    <button id="addNewWordBtn" type="submit">Добавить</button>

</form>

</body>
</html>