<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../static/css/germanStyle.css">
</head>
<body>
<div id="homePageReturn"><li><a href="home.html">Главная</a></li></div>
<div id="libraryPage"><li><a href="library.html">Библиотека</a></li></div>
<div id="GermanDictionary">
    <p th:each="grmLines : ${allGermanLines}" th:text="${grmLines.key} + ' -- ' + ${grmLines.value}"/>
</div>
<div id="addFormGerm">
    <h1>Добавить запись</h1>
    <form action="germanDictionary.html" method="post">
        <input type="text" name="key" placeholder="Введите слово">
        <input type="text" name="value" placeholder="Введите значение">
        <button id="addToGermanButton" type="submit">Добавить</button>
    </form>
</div>
</body>
</html>