<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="library.css">
    <script src="https://kit.fontawesome.com/68c777525e.js" crossorigin="anonymous"></script>
    <script src="libraryScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
</head>
<body>
<div id="mainDictMenu">
        <ul class="menuDict">
            <li class="menuDictItem" onclick="Menu()">
                <a href="#">Словари</a>
                <ul class="sub-menu">
                    <li><a href="#">English dictionary</a></li>
                    <li><a href="#">Deutscher Wortschatz</a></li>
                </ul>
            </li>
        </ul>
</div>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<div class="search">
    <input type="text" class="searchText" placeholder="Искать во всех словарях...">
    <a class="searchBtn">
        <i class="fa-solid fa-magnifying-glass"></i>
<!--      <i class="fas fa-search"></i>  -->
    </a>
</div>
</body>
</html>