<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../static/css/library.css">
    <script src="https://kit.fontawesome.com/68c777525e.js" crossorigin="anonymous"></script>
    <script src="../static/js/libraryScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/js/all.min.js"></script>
</head>
<body>
<div id="homePageReturn"><li><a href="home.html">Главная</a></li></div>
<div id="mainDictMenu">
        <ul class="menuDict">
            <li class="menuDictItem" onclick="Menu()">
                <a href="#">Словари</a>
                <ul class="sub-menu">
                    <li><a href="englishDictionary.html">English dictionary</a></li>
                    <li><a href="germanDictionary.html">Deutscher Wortschatz</a></li>
                </ul>
            </li>
        </ul>
</div>
<!--<p th:text="'Hello, ' + ${name} + '!'" />-->
<div class="search">
    <input type="text" class="searchText" placeholder="Искать во всех словарях...">
    <a class="searchBtn">
        <i class="fa-solid fa-magnifying-glass"></i>
<!--      <i class="fas fa-search"></i>  -->
    </a>
</div>
<div id="EnglishDictionary" th:each="enLines : ${allEnglishLines}">
    <p  th:text="${enLines.key} + ' -- ' + ${enLines.value}"/>
</div>

<div id="GermanDictionary" th:each="grmLines : ${allGermanLines}">
    <p th:text="${grmLines.key} + ' -- ' + ${grmLines.value}"/>
</div>
</body>
</html>