<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title th:text="${title}"></title>
    <link rel="stylesheet" href="../static/css/librarySearchResult.css">
    <!--    <script src="../static/js/englishDictScript.js"></script>-->
</head>
<body>
    <div id="homePageReturn"><li><a href="home.html">Главная</a></li></div>
    <div id="libraryPage"><li><a href="library.html">Библиотека</a></li></div>
        <div id="searchEnglResult" th:each="word:${EnglishSearchResult}">
            <h2>Английский</h2>
            <!--    <p th:utext="word : ${EnglishSearchResult}" th:text="${word.key} + ' &#45;&#45; ' + ${word.value}"/>-->
            <p th:text="${word.key} + ' -- ' + ${word.value}"/>
        </div>
        <div id="searchGermanResult" th:each="word:${GermanSearchResult}">
            <h2>Немецкий</h2>
            <!--    <p th:utext="word : ${EnglishSearchResult}" th:text="${word.key} + ' &#45;&#45; ' + ${word.value}"/>-->
            <p th:text="${word.key} + ' -- ' + ${word.value}"/>
        </div>
</body>
</html>