<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <!--<script src="/static/jquery/jquery-3.6.4.min.js"></script>-->
    <link rel="stylesheet" href="../static/css/searchTranslationsStyle.css">
    <script src="/static/js/searchTranslationsScript.js"></script>
</head>
<body>
<div id="homePageReturnBtn">
    <li><a href="home.html">Главная</a></li>
</div>
<div id="toLanguagePageBtn">
    <li><a href="languagesPage.html">Перейти к языкам</a></li>
</div>
<!------------------------------------------------FIND WORD IN DICTIONARY -------------------------------------------->
<form id="mainSearchForm">

    <select id="select1Form" name="select1">
        <option id="option1InSelect1Form"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <select id="select2Form">
        <option id="option2InSelect1Form"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <input id="inputedWordInSearch" type="text" placeholder="Перевести слово">

    <button id="findTranslationBtn" type="submit">Перевести</button>

</form>

<div id="TranslationDiv">
    <p id="translation"></p>
</div>

<!------------------------------------------------ADD NEW WORD IN TO DICTIONARY -------------------------------------------->
<!--

<form id="addNewWordForm">

    <select id="select1AddNewWord" name="select1AddNewWord">
        <option id="option1InSelect1AddNewWord"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <select id="select2AddNewWord">
        <option id="option2InSelect2AddNewWord"
                th:each="type : ${Languages}"
                th:value="${type.getLanguageCode()}"
                th:text="${type.getLanguageName()}">
        </option>
    </select>

    <input id="inputedNewWordToAdded" type="text" placeholder="Новое слово">
    <input id="inputedTranslationForNewWord" type="text" placeholder="Введите перевод">
    <button id="addNewWordBtn" type="submit">Добавить</button>

</form>
-->

<!------------------------------------------------ADD NEW LANGUAGE IN TO DICTIONARY ------------------------------------------>


</body>
</html>